name: Run Attendance Script

on:
  schedule:
    - cron: '30 11 * * *'

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        pip install -r script/requirements.txt

    - name: Run script
      run: |
        python script/attendance_script.py
